@{
	ViewBag.Title = "Index";
}
@section customLogo{
		<img src="~/Content/img/logo_about.png" />
}

<script>
    document.getElementById("outlineBox").className = "aboutUsOutline";
</script>

<section class="SquidBody">
	<h1>Generic Title</h1>
	<p>We here at Squid Inc. are going to revolutionize the printer industry. 
        We have developed a printer that does not use the standard ink many of the other 
        printers use. We have developed a system that allows our printers to make their 
        own ink out of the pollutants in the environment. This not only allows our 
        printers to be run free of the standard ink but also makes our printers the 
        most environment friendly printers on the market. </p>
    <p>
        Squid Inc. was founded in 2011 and was founded by Jamar Jones, Steve Razim, 
        and Alexander Lawson who share co-owner status along with equal shares of 
        stock in the company.
    </p>
</section>