@{
	ViewBag.Title = "Index";
}
@section customLogo{
		<img src="~/Content/img/logo_about.png" />
}

<script>
    document.getElementById("outlineBox").className = "aboutUsOutline";
</script>

<section class="SquidBody">
	<p>We here at Squid Inc. are going to revolutionize the printer industry. 
        We have developed a printer that does not use the standard ink many of the other 
        printers use. We have developed a system that allows our printers to make their 
        own ink out of the pollutants in the environment. This not only allows our 
        printers to be run free of the standard ink but also makes our printers the 
        most environment friendly printers on the market. </p>
    <p>
        Squid Inc. was founded in 2011 and was founded by Jamar Jones, Steve Razim, 
        and Alexander Lawson who share co-owner status along with equal shares of 
        stock in the company.
    </p>
    <div class="fullCEO">
        <div class="ceoPic">
            <img src="~/Content/img/021054h.jpg" />
        </div>
        <div class="ceoInfo">
            <h2>Jamar Jones</h2>
	        I am the CEO of Squid Inc. I have run many successful businesses in the 
            past and hope to continue that trend with this one. Under my leadership 
            Squid Inc. has completed many new deals and bumped up our release schedule 
            for our new printer by half a year.
            <b>Master’s in Business Administration from University of Chicago</b>
        </div>
    </div>
    <div class="fullCEO">
        <div class="ceoPic">
            <img src="~/Content/img/053839f.jpg" />
        </div>
        <div class="ceoInfo">
            <h2>Huppert Oldberg</h2>
            I am the CFO and the marketing specialist at Squid Inc. and part of my 
            duties involve making sure our investors get the most out of their 
            investment and I am the one who plans our marketing campaigns. 
            When I worked at Bounce Co. I cut $2.3 million in wasteful spending and 
            lead them to record profits. I hope to do the same here at Squid inc
            <b>BS in Technology Management—Neumont University (1998)</b>
        </div>
    </div>
    <div class="fullCEO">
        <div class="ceoPic">
            <img src="~/Content/img/937592k.jpg" />
        </div>
        <div class="ceoInfo">
            <h2>Alexander Lawson</h2>
            My name is Alexander Lawson and I am the product manager and head 
            of human relations here at Squid Inc. My primary job outside of HR is to 
            oversee production of our product and the implementation of prototypes as
             well as organizing workload between researching and engineering new parts.
            <b>BS in Psychology from University of Chicago Champaign—Urbana (2002)</b>
        </div>
    </div>
</section>