*.dll
ClericoDezign_SquidInc/ClericoDezign_SquidInc.v11.suo
ClericoDezign_SquidInc/ClericoDezign_SquidInc/obj/Debug/ClericoDezign_SquidInc.csproj.FileListAbsolute.txt
ClericoDezign_SquidInc/ClericoDezign_SquidInc/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache