*.dll
ClericoDezign_SquidInc/ClericoDezign_SquidInc.v11.suo
ClericoDezign_SquidInc/ClericoDezign_SquidInc/obj/Debug/ClericoDezign_SquidInc.csproj.FileListAbsolute.txt
ClericoDezign_SquidInc/ClericoDezign_SquidInc/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
ClericoDezign_SquidInc/ClericoDezign_SquidInc/ClericoDezign_SquidInc.csproj.user
*.csproj
*.pdb
ClericoDezign_SquidInc/ClericoDezign_SquidInc/bin/EntityFramework.xml
*.xml
