@{
	ViewBag.Title = "Index";
}

@section customLogo{
		<img src="~/Content/img/logo_products.png" />
}

<script>
    document.getElementById("outlineBox").className = "productsOutline";
</script>

<section class="SquidBody">
	<h1>Generic Title</h1>
	<p>Our printers are run using ink that they make and store in specialized ink 
        cartridges. Our printer uses small fans to pull air into filters that are made 
        to filter out particulates in the air which are then deposited into the 
        chemical bath that we use to separate the pigment which is used to create the 
        ink. The ink is created from the pigments using a specialized enzymatic process 
        to convert pigment to ink where the ink is then sent to the specialized ink 
        cartridges.</p>
    <h3>Filter</h3>
    <p>Air is pulled through the filter using the fans to pull it into the filter, 
        which then traps the necessary particles from the air and “traps” them in the 
        filter. Instead of just catching particles from the air we trap those using 
        synthetic catalysts. This ensures that we trap more material than if we did 
        not use the synthetic catalysts and that the materials we trap are usable for
         the production of the ink</p>
    <br />
    <h3>How the Ink is Made</h3>
    <p>After the material has been removed from the filter, it is sorted into pigments which is done using a chemical bath which uses specialized enzymes to ”pull” pigments one at a time until it is all separated. When this works is conjunction with the filter the only byproducts are clean air and usable ink. </p>
    <p>After the particulates are separated by pigment, each pigment is sent to a specific compartment where they are then converted to ink to be used by the printer. Every particle can be used to make many different colors of ink. However if you don’t have the module that lets you use some of the colors, the particles are then just made into the standard black ink. The ink is created through a biological process manipulating the amino acids and several forms of chemosynthetic reactions. Most of this technology is derived from many deep water organisms that produce their own ink which is where the name “Squid Inc.” came from.</p>

</section>