@model string
@{
    ViewBag.Title = "Error";
}

@section customLogo{
		<img src="~/Content/img/logo_home.png" />
}

<script>
    document.getElementById("outlineBox").className = "homeOutline";
</script>

<h2>Our bad! An Error Ocurred!</h2>

<span>@Model</span>