@{
    ViewBag.Title = "Index";
}

@section customLogo{
    <img src="~/Content/img/logo_home.png" />
}

@section AdditionalStyleSheets{
    <link rel="stylesheet" type="text/css" href="~/Content/css/WowSlider.css" media="screen" />
}

@section AdditionalScripts{
    <script type="text/javascript" src="~/Content/js/jquery.js"></script>
}

<script  type="text/javascript">
    document.getElementById("outlineBox").className = "homeOutline";
    document.getElementById("innerBox").className = "homeBody";

    function slideSwitch() {
        var $active = $('#slideshow IMG.active');
        var $caption = $('.blot1 IMG.activate');

        if ($active.length == 0) $active = $('#slideshow IMG:last');
        if ($caption.length == 0) $caption = $('.blot1 IMG:last');

        // use this to pull the images in the order they appear in the markup
        var $next = $active.next().length ? $active.next()
            : $('#slideshow IMG:first');

        var $nextOne = $caption.next().length ? $caption.next()
            : $('.blot1 IMG:first');

        $active.addClass('last-active');
        $caption.addClass('last-activate');

        $next.css({ opacity: 0.0 })
            .addClass('active')
            .animate({ opacity: 1.0 }, 1000, function () {
                $active.removeClass('active last-active');
            });

        $nextOne.css({ opacity: 0.0 })
            .addClass('activate')
            .animate({ opacity: 1.0 }, 1000, function () {
                $caption.removeClass('activate last-activate');
            });
    }

    $(function () {
        setInterval("slideSwitch()", 5000);
    });
</script>


<section class="SquidBody">
    <div class="tagLine">
        <img src="~/Content/img/tagline.png" />
    </div>
    <div id="slideshow">
        <img src="~/Content/img/a_2_o.jpg" alt="Slideshow Image 1" class="active" />
        <img src="~/Content/img/printers 2.jpg" alt="Slideshow Image 2" />
    </div>
    <div class="blot1">
        <img src="~/Content/img/inkBlotFirst.png" class="activate"/>
        <img src="~/Content/img/inkBlotSecond.png" />
    </div>

    <div class="blot2">
        <div class="homeInfo">
            Launching in summer of 2014 our revolutionary printer can save your business 
            thousands of dollars a year on printer ink alone. If you want to find out 
            more about our printer and how it works check our @Html.ActionLink("Products Page", "Index", "Product").  
            If you want to see how our printer compares to some of the highest rated 
            printers in the industry click @Html.ActionLink("here","Index", "Comparisons"). 
        </div>
    </div>
</section>
