@{
    ViewBag.Title = "Index";
}

@section customLogo{
		<img src="~/Content/img/logo_home.png" />
}

<script>
    document.getElementById("outlineBox").className = "homeOutline";
</script>


<section class="SquidBody">
	<h1>Home</h1>
    <div class="slideShow">

    </div>
    <div class="blot1"></div>
    <div class="spacing"></div>
	<p>Generic text</p>
</section>
