@{
    ViewBag.Title = "Index";
}

@section customLogo{
		<img src="~/Content/img/logo_home.png" />
}


<section class="SquidBody">
	<h1>Home</h1>
    <div class="slideShow">

    </div>
	<p>Generic text</p>
</section>
