@{
    ViewBag.Title = "Index";
}

@section customLogo{
		<img src="~/Content/img/logo_home.png" />
}

<script>
    document.getElementById("outlineBox").className = "homeOutline";
</script>


<section class="SquidBody">
	<h1>Home</h1>
    <div class="slideShow">

    </div>
    <div class="blot1">
        <div class="slideInfo">
            Blarajsdljkahsdlkjahsdlkjhsadlkjhsalkjdhaslkjdhsalkjhdkjsahdlkjahsdklhsadlkjhaslkjdhalksjdhlaksjhdlkasjhdkajshdlkashdlkajshdlkjahdslkjahs
        </div>
    </div>

    <div class="blot2">
        <div class="homeInfo">
            Launching in summer of 2014 our revolutionary printer can save your business 
            thousands of dollars a year on printer ink alone. If you want to find out 
            more about our printer and how it works check our @Html.ActionLink("Products Page", "Index", "Product").  
            If you want to see how our printer compares to some of the highest rated 
            printers in the industry click @Html.ActionLink("here","Index", "Comparisons"). 
        </div>
    </div>
    <div class="spacing"></div>
</section>
