@{
    ViewBag.Title = "Index";
}

<nav>
	<div class="logoPlace">
        <img src="~/Content/img/logo_home.png" />
	</div>
	<ul class="nav-stacked">
		<li><a href="">Home</a></li>
		<li><a href="">About Us</a></li>
		<li><a href="">Eternal Ink</a></li>
		<li><a href="">Go Green!</a></li>
		<li><a href="">Shop</a></li>
		<li><a href="">Investors</a></li>
		<li><a href="">Contact</a></li>
	</ul>
</nav>

<section class="SquidBody">
	<h1>Home</h1>
    <div class="slideShow">

    </div>
	<p>Generic text</p>
	<article>
	2014 Squid Inc.	<a href="">contact</a> | <a href="">privacy</a> | <a href="">social</a>
	</article>
</section>
