@{
    ViewBag.Title = "Index";
}
@section customLogo{
		<img src="~/Content/img/logo_coming_soon.png" />
}

<script>
    document.getElementById("outlineBox").className = "comingSoonOutline";
</script>

<section class="SquidBody">
	<h1>Generic Title</h1>
	<ul>
        <li>
            Modules and future ideas
            <ul>
                <li>
                    Modules
                    <ul>
                        <li>
                            Image Editor
                            <ul>
                                <li>Basic image editor with touch screen</li>
                            </ul>
                        </li>
                        <li>
                            Smartphone Docking
                            <ul>
                                <li>Import and print from phone</li>
                            </ul>
                        </li>
                        <li>
                            Color Ink
                            <ul>
                                <li>Adds more colors for more variety</li>
                            </ul>
                        </li>
                        <li>
                            Mini Keyboard
                            <ul>
                                <li>Emergency edits</li>
                                <li>Basic file editing</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    Future
                    <ul>
                        <li>
                            Markers
                            <ul>
                                <li>Smaller markers with specific colors</li>
                                <li>Bigger markers with multiple colors</li>
                            </ul>
                        </li>
                        <li>Pens</li>
                    </ul>
                </li>
            </ul>
        </li>
	</ul>
</section>