@{
    ViewBag.Title = "Index";
}
@section customLogo{
    <img src="~/Content/img/logo_coming_soon.png" />
}

<script>
    document.getElementById("outlineBox").className = "comingSoonOutline";
</script>

<section class="SquidBody">
    <h3>Modules and future ideas</h3>
    <ul>
        <h4>Modules</h4>
        <li>Image Editor
                            <ul>
                                <li>Basic image editor with touch screen</li>
                            </ul>
        </li>
        <li>Smartphone Docking
                            <ul>
                                <li>Import and print from phone</li>
                            </ul>
        </li>
        <li>Color Ink
                            <ul>
                                <li>Adds more colors for more variety</li>
                            </ul>
        </li>
        <li>Mini Keyboard
                            <ul>
                                <li>Emergency edits</li>
                                <li>Basic file editing</li>
                            </ul>
        </li>
    </ul>

    <ul>
        <h4>Future</h4>
        <li>Markers
                            <ul>
                                <li>Smaller markers with specific colors</li>
                                <li>Bigger markers with multiple colors
                                    <ul>
                                        <li>2-4 colors a marker</li>
                                    </ul>
                                </li>
                            </ul>
        </li>
        <li>Pens</li>
    </ul>
    <img src="~/Content/img/Final Coming.jpg" />
</section>
