@{
    ViewBag.Title = "Index";
}
@section customLogo{
    <img src="~/Content/img/logo_coming_soon.png" />
}

<script>
    document.getElementById("outlineBox").className = "comingSoonOutline";
    document.getElementById("innerBox").className = "comingSoonInline";
</script>

<section class="SquidBody">
    <div class="center">
        <img src="~/Content/img/Final Coming.jpg" class="comingSoonImage" />

        <div class="comingSoonCategory">
            <div class="comingSoonLeftText">
                <h2>Infinite Ink Pens and Markers</h2>
                <ul>
                    <li>Pens and Markers that are ever-lasting</li>
                    <li>Bigger markers hold multiple colors</li>
                </ul>
            </div>
            <img src="~/Content/img/pen.jpg" alt="Infinite Ink Pen" class="comingSoonRightImage" />
        </div>

        <div class="comingSoonCategory">
            <div class="comingSoonRightText">
                <h2>Mini Keyboard</h2>
                <ul>
                    <li>Emergency Edits</li>
                    <li>Basic File Editing</li>
                </ul>
            </div>
            <img src="~/Content/img/mini keyboard.jpg" alt="Keyboard" class="comingSoonLeftImage" />
        </div>

        <div class="comingSoonCategory">
            <div class="comingSoonLeftText">
                <h2>Color Ink</h2>
                <ul>
                    <li>More color for more variety</li>
                </ul>
            </div>
            <img src="~/Content/img/colorInk.jpg" alt="Color ink" class="comingSoonRightImage" />
        </div>

        <div class="comingSoonCategory">
            <div class="comingSoonRightText">
                <h2>Smartphone Docking</h2>
                <ul>
                    <li>Import and print from phone</li>
                </ul>
            </div>
            <img src="~/Content/img/smartphone.jpg" alt="Smart phone" class="comingSoonLeftImage" />
        </div>

        <div class="comingSoonCategory">
            <div class="comingSoonLeftText">
                <h2>Image Editor</h2>
                <ul>
                    <li>Basic image editor</li>
                    <li>Touch screen</li>
                </ul>
            </div>
            <img src="~/Content/img/touch_screen.jpg" alt="Touch screen" class="comingSoonRightImage" />
        </div>
    </div>
</section>
