@{
    ViewBag.Title = "Index";
}
@section customLogo{
		<img src="~/Content/img/logo_coming_soon.png" />
}

<script>
    document.getElementById("outlineBox").className = "comingSoonOutline";
</script>

<section class="SquidBody">
	<h1>Generic Title</h1>
	<p>Generic text</p>
	<div class="spacing"></div>
</section>