@{
    ViewBag.Title = "Index";
}
@section customLogo{
    <img src="~/Content/img/logo_coming_soon.png" />
}

<script>
    document.getElementById("outlineBox").className = "comingSoonOutline";
    document.getElementById("innerBox").className = "comingSoonInline";
</script>

<section class="SquidBody">
    <img src="~/Content/img/Final Coming.jpg" class="comingSoonImage" />

    <article class="leftColumn">
        <div class="comingSoonCategory">
            <div class="comingSoonLeftText">
                <h3>Pens and Markers</h3>
                <ul>
                    <li>Pens</li>
                    <li>Markers</li>
                    <li>Multi-Color Markers</li>
                    <li>Highlights</li>
                    <li>Neon Markers</li>
                </ul>
            </div>
            <img src="~/Content/img/pen.jpg" alt="Infinite Ink Pen" class="comingSoonRightImage" />
        </div>

        <div class="comingSoonCategory">
            <div class="comingSoonRightText">
                <h3>Mini Keyboard</h3>
                <ul>
                    <li>Emergency Edits</li>
                    <li>Basic File Editing</li>
                </ul>
            </div>
            <img src="~/Content/img/mini keyboard.jpg" alt="Keyboard" class="comingSoonLeftImage" />
        </div>
    </article>

    <article class="rightColumn">
        <div class="comingSoonCategory">
            <div class="comingSoonLeftText">
                <h3>Color Ink</h3>
                <ul>
                    <li>Family colors</li>
                    <li>Neon colors</li>
                    <li>Exotic colrs</li>
                </ul>
            </div>
            <img src="~/Content/img/colorInk.jpg" alt="Color ink" class="comingSoonRightImage" />
        </div>

        <div class="comingSoonCategory">
            <div class="comingSoonRightText">
                <h3>Phone Docking</h3>
                <ul>
                    <li>Import from your phone</li>
                    <li>Print from your phone</li>
                    <li>Printing on the go</li>
                </ul>
            </div>
            <img src="~/Content/img/smartphonedock.jpg" alt="Smart phone dock" class="comingSoonLeftImage" />
        </div>
    </article>

    <article class="center">
        <div class="comingSoonCategory">
            <div class="comingSoonRightText">
                <h3>Image Editor</h3>
                <ul>
                    <li>Basic image editor</li>
                    <li>Touch screen</li>
                </ul>
            </div>
            <img src="~/Content/img/touch_screen.jpg" alt="Touch screen" class="comingSoonLeftImage" />
        </div>
    </article>
</section>
