@{
	ViewBag.Title = "Index";
}

@section customLogo{
		<img src="~/Content/img/logo_shop.png" />
}

<script>
    document.getElementById("outlineBox").className = "shopOutline";
</script>

<section class="SquidBody">
	<article class="shopItem">
        <div>
            <img src="~/Content/img/printer.jpg" />
        </div>
        <h1>Eternal Ink Printer</h1>
        <p>Infinite Ink! Never replace another cartidge again!</p>
        <p>Coming Summer 2014!</p>
  	</article>

</section>