@{
	ViewBag.Title = "Index";
}

@section customLogo{
		<img src="~/Content/img/logo_shop.png" />
}

<script>
    document.getElementById("outlineBox").className = "shopOutline";
</script>

<section class="SquidBody">
	<article class="shopItem">
        <div>
            <img src="~/Content/img/epson_workforce_840_aio.png" />
        </div>
        <h1>Eternal Ink Printer</h1>
        <h2>Infinite Ink!</h2> 
        <p>Never replace another cartidge again!</p>
        
        <div class="pricing">$249.99</div>
        <h3>Coming Summer 2014!</h3>
  	</article>

</section>