@{
	ViewBag.Title = "Index";
}

@section customLogo{
		<img src="~/Content/img/logo_comparisons.png" />
}

<script>
    document.getElementById("outlineBox").className = "comparisonsOutline";
    document.getElementById("innerBox").className = "compareDataBody";
</script>



<section class="SquidBody">
	<img src="~/Content/img/prettyData.png" class="image comparisonImage"/>
	<div class="spacing"></div>
</section>