@{
	ViewBag.Title = "Index";
}

@section customLogo{
		<img src="~/Content/img/logo_infinite_ink.png" />
}

<script>
    document.getElementById("outlineBox").className = "comparisonsOutline";
    
</script>



<section class="SquidBody">
	<h1>Generic Title</h1>
	<img src="~/Content/img/prettyData.png" class="CompareData"/>
	<div class="spacing"></div>
</section>