@{
    ViewBag.Title = "Index";
}

@section customLogo{
		<img src="~/Content/img/logo_invest.png" />
}

<script>
    document.getElementById("outlineBox").className = "investorOutline";
</script>

<section class="SquidBody">
	<h1>Generic Title</h1>
	<p>Generic text</p>
	<div class="spacing"></div>
</section>