@{
    ViewBag.Title = "Index";
}

@section customLogo{
		<img src="~/Content/img/logo_invest.png" />
}

<script>
    document.getElementById("outlineBox").className = "investorOutline";
</script>

<section class="SquidBody">
	<h1>Generic Title</h1>
	<p>We here at Squid Inc. appreciate that you are as confident in our future as we are. Since you have invested in the company we want to extend our thanks to by offering you a part in our beta testing community. Our beta testing community is what makes sure our products are fully functional and work as designed.
 As a beta tester you will receive modules for the printer months in advance so you can make sure that everything works and nothing brakes or messes with the base printer. We do require something out of our beta testers we require that at least three times during the beta that they fill out a report we send them so we can see how the module is doing. If we do not receive the report three times they will be taken off the list as a beta tester.

After a certain amount of successful beta tests you will get complete modules and products for free. This differs from the beta tests in the fact that with the beta test you keep the beta model which may still be good but if you want the retail model you will have to buy it. However after two successful beta tests with submitting all the reports you need to, you have the ability to send the beta module back and get the retail module for free
</p>
</section>