body {
    width: 80%;
    background-repeat: no-repeat;
}

.logoPlace img {
    width: 110%;
    height: auto;
}

.squidBody {
    width: 100%;
    height: auto;
}

.blot2 {
    top: 0;
    left: 10%;
}

#innerBox {
    height:auto;
    margin-bottom: 0px;
    overflow: hidden;
}

.compareDataBody {
    height : 50% !important;
}

.spacing {
    height: 0;
}

.squidBody img {
    width: 80%;
    height: auto;
}

.image {
    height: auto;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
}

.shopItem {
    width: auto;
    height: auto;
    margin: 5px;
}