body {
    width: 80%;
    background-repeat: no-repeat;
}

.logoPlace img {
    width: 110%;
    height: auto;
}

.squidBody {
    width: 100%;
    height: auto;
}

.blot2 {
    top: 0;
    left: 10%;
}

#innerBox {
    height:auto;
    margin-bottom: 0px;
}

.homeBody {
    padding-bottom: 40px;
}

.compareDataBody {
    height : 50% !important;
}

.tagLine img {
    display: none;
}

.spacing {
    height: 0;
}

.squidBody img {
    width: 80%;
    height: auto;
}

.image {
    height: auto;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
}

.shopItem {
    width: auto;
    height: auto;
    margin: 5px;
}

.comingSoonLeftImage {
    width: 40%;
}

.comingSoonRightImage {
    width: 30%;
}

.comingSoonImage {
    width: 80%;
    margin-left: 10px;
}

.comingSoonLeftText {
    margin-right: 5px;
}

.comingSoonInline {
    height: 50% !important;
}

.center {
    margin-left: auto;
    margin-right: auto;
}