a, a:link, a:visited { text-decoration: none; }
body
{
    margin: 0 auto;
    margin-top: 20px;
    width: 960px;
    background-image: url(/Content/img/browser_texture.jpg);
    background-size:1300px 1100px;
}
nav
{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0 auto;
	text-align: center;
	width: 150px;
	float: left;
	margin-right: 20px;
}
nav ul
{
	list-style-type: none;
	margin-left: 0; 
    padding-left: 0;
}

nav a
{
	display:block;
	margin: 5px;
	margin-left:10px;
	margin-right:10px;
	background-color:#5E9DBC;
	height:25px;
	padding-top: 12px;
	font-size: 14px;
	color: #1A4056;
    border: 5px solid #5E9DBC;
}

nav a:hover
{
	display:block;
	margin: 5px;
	margin-left:10px;
	margin-right:10px;
	background-color:#1A4056; 
	height:25px;
	padding-top: 12px;
	font-size: 14px;
	color: #5E9DBC;
    border: 5px solid #1A4056;
}

nav a:active {
    display:block;
	margin: 5px;
	margin-left:10px;
	margin-right:10px;
	background-color:#1A4056; 
	height:25px;
	padding-top: 12px;
	font-size: 14px;
	color: #5E9DBC;
    border: 5px solid #1A4056;
}

.logoPlace img
{
    position: relative;
    z-index: -1;
}
.SquidBody
{
    margin-left: 20px;
}
.SquidBody h1
{
	font-size: 20px;
	margin: 5px;
}
.slideShow
{
    height: 200px;
    width: 450px;
    background-color: #808080;
}
.blot1 
{
   background-image: url(/Content/img/ink_1.png);
   background-size:150px 150px;
   background-repeat: no-repeat;
   position: relative;
   top: -50px;
   left: -20px;
   width: 150px;
   height: 150px;
}

.blot2 
{
    
}

.spacing 
{
    height: 150px;
}
.linkStyle
{
    border-radius: 20px;
    border-bottom-left-radius: 60px;
}
#outlineBox 
{
    margin-left: 150px;
    border: 1px solid;
    border-radius: 10px;
}
.innerBox 
{
    margin: 5px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    border-bottom-left-radius: 60px;
}
.homeOutline 
{
    background-color: #ff6a00;
}
.aboutUsOutline 
{
    background-color: #77a5bc;
}
.infiniteInkOutline 
{
    background-color: #75ad34;
}
.comingSoonOutline 
{
    background-color: #0d394e;
}
.shopOutline 
{
    background-color: #447011;
}
.investorOutline 
{
    background-color: #295f79;
}
.contactOutline 
{
    background-color: #4d4d4d;
}

footer {
    text-align: center;
    padding-bottom: 8px;
    color: white;
}

    footer a {
        color: #e1f7dc;
    }
